<!DOCTYPE html>
<html>

<head>
  <title>
    IBM Object Storage
  </title>
  <link rel="stylesheet" href="https://image-storage-assignment-3.s3.jp-tok.cloud-object-storage.appdomain.cloud/index.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div class="container">
 
    <a style="float:right;"
    href="https://api.au-syd.assistant.watson.cloud.ibm.com/instances/3b89fcd1-0be9-4167-9840-a77d7f0a9f7f">URL FOR
    HOSPITAL CHAT BOT</a>
    <h1 class="ibmheading">Bucked created in IBM Object Storage</h1>
    <h3 class="mb-5 ibmheading">Accessing the 5 public images & a css page uploaded in IBM Object Storage</h3>
    

    <div>
      <div class="row">
        <div class="col-6">
          <h3 class="imagetitle">NATURE</h3>
          <img class="imageStyle"
            src="https://image-storage-assignment-3.s3.jp-tok.cloud-object-storage.appdomain.cloud/image1.jpg"
            alt="Sunflower">
        </div>
        <div class="col-6">
          <h3 class="imagetitle">KRISHNA</h3>
          <img class="imageStyle"
            src="https://image-storage-assignment-3.s3.jp-tok.cloud-object-storage.appdomain.cloud/image2.jpg" alt="Rose">
  
        </div>
      </div>
  
      <div class="row"> 
        <div class="col-6">
          <h3 class="imagetitle">PHOENIX</h3>
          <img class="imageStyle"
            src="https://image-storage-assignment-3.s3.jp-tok.cloud-object-storage.appdomain.cloud/image3.jpeg"
            alt="Lily">
  
        </div>
        <div class="col-6">
          <h3 class="imagetitle">DRAGON</h3>
          <img class="imageStyle"
            src="https://image-storage-assignment-3.s3.jp-tok.cloud-object-storage.appdomain.cloud/image4.jfif"
            alt="Daisy">
  
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h3 class="imagetitle">IRON MAN</h3>
          <img class="imageStyle"
            src="https://image-storage-assignment-3.s3.jp-tok.cloud-object-storage.appdomain.cloud/image5.jpg"
            alt="Camellia">
        </div>
        <div class="col-6">
  
        </div>
      </div>
  
  
    </div>


  </div>
</body>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "e6c81fd0-9024-4804-8f2b-8d40fe0cd1c2", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "3b89fcd1-0be9-4167-9840-a77d7f0a9f7f", // The ID of your service instance.
    onLoad: function (instance) { instance.render(); }
  };
  setTimeout(function () {
    const t = document.createElement('script');
    t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>

</html>